//Fonts
  $font-main: 'Raleway', sans-serif;
  $font-accent: 'Playfair Display', serif;
  $font-secondary: 'Roboto Mono', monospace;
  // Colors
  $dark: #242B33;
  $accent: #D4C17F;
  $white: #fff;
  $btn-color: #BEBEBE;
  $footer-bg: #2D343C;
  $muted: #E7E7E7;

  // media queries
  $tablet: 959px;
  $mobile: 855px;
